@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
} */



.dark body {
  background-color: #000000; /* Dark mode background color */
}


.hover-underline {
    position: relative;
    display: inline-block;
  }
  
  .hover-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: black; /* Color for light mode */
    transition: width 0.2s ease-in-out;
}
  
.hover-underline:hover::after {
    width: 100%;
}

/* Hover Underline for Dark Mode */
body.dark .hover-underline::after {
    background-color: white; /* Color for dark mode */
}


/* Dark mode background for home page */
.dynamic-gradient {
  background: #121212; /* Very dark background for dark mode */
  overflow: hidden;
  position: relative;
}

.dynamic-gradient::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220%;
  height: 220%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle at 50% 50%, transparent 60%, #323930 100%),
              radial-gradient(circle at 80% 20%, transparent 70%, #4D5B68 100%),
              radial-gradient(circle at 10% 80%, transparent 80%, #000 100%);
  animation: moveGradient 60s infinite alternate ease-in-out;
}

@keyframes moveGradient {
  0% { transform: translate(-50%, -50%) scale(1); }
  100% { transform: translate(-50%, -50%) scale(1.1); }
}






